* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #151515;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.profile img {
    max-width: 200px;
    border-radius: 100%;
}

.links {
    text-align: center;
}

.links h2 {
    margin-bottom: 2rem;
}
.links hr {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 2rem;
}

.links ul li {
    font-size: 1.5rem;
}

.links ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.links a {
    display: block;
    width: 20rem;
    text-decoration: none;
    color: #EEEEEE;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 8px;
}

.bi-facebook {
    color: #4300FF;
}

.bi-instagram {
    color: #FF0B55;
}

.bi-envelope-at-fill {
    color: #FFD66B;
}

.bi-github {
    color: #4DA8DA;
}
article {
    color: #EEEEEE;
}

.content {
    margin-top: 100px;
}